<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSIXProject3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VSIXProject3.Properties.Settings>
            <setting name="Domain" serializeAs="String">
                <value>TestURL</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>TestSecretKey</value>
            </setting>
            <setting name="ProjectNameInTestIT" serializeAs="String">
                <value>TestProjectNameInTestIT</value>
            </setting>
            <setting name="RepositoryLink" serializeAs="String">
                <value>TestRepositoryLink</value>
            </setting>
            <setting name="AssemblyPath" serializeAs="String">
                <value>TestAssemblyPath</value>
            </setting>
            <setting name="ActualSolutionPath" serializeAs="String">
                <value>TestActualSolutionPath</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>TestProjectName</value>
            </setting>
            <setting name="TestProject" serializeAs="String">
                <value>TestTestProject</value>
            </setting>
        </VSIXProject3.Properties.Settings>
    </userSettings>
</configuration>